
<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #FFBF00;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
</style>
</head>
<body>

<h1>About Alexa Kwan</h1>
<p>Hi my name is Alexa Kwan. I am a seventh grader currently attending Miller Middle School. I love P.E. and spelling. My hobbies are swimming and track and field. I started swimming when I was 4 years old. I still swim now and enjoy competing and hanging out with my friends. Practice is everday for 2 hours. There is morning practice at 5:30 a.m. and Saturday at 6:00 a.m. I dread these days bur I still go. 
</p>
<img src="http://i.dailymail.co.uk/i/pix/2012/08/04/article-0-146284DF000005DC-452_964x605.jpg"> 
</body>
</html>
