<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
</style>
</head>
<body>

<h1>About Alexa Kwan</h1>
<p>Hi my name is Alexa Kwan. I am a seventh grader currently attending Miller Middle School. I love P.E. and spelling. My hobbies are swimming and track and field.  </p>

</body>
</html>
